{% load static %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}"/>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css"/>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    <title>Strava Club Challenge</title>
    {% block extheader %}
    {% endblock %}
</head>
<body>
<header>
    <nav>
        <div class="nav-wrapper">
            <a href="{% url 'index' %}" class="brand-logo">Strava Club Challenge</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% if not request.user.is_authenticated %}
                    <li><a href="{% url 'login' %}"><img src="{% static 'img/connect_with_strava_small.png' %}"
                                                         alt="Login with Strava"/></a></li>
                {% else %}
                    <li><a href="{% url 'challenge_list' %}"><span class="material-icons">list</span> Challenges</a>
                    </li>
                    <li><a href="{% url 'challenge_create' %}"><span class="material-icons">create</span> Create
                        challenge</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
<main>
    {% if messages %}
        {% for message in messages %}
            <script language="JavaScript">
                Materialize.toast('{{ message }}', 4000)
            </script>
        {% endfor %}
    {% endif %}

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</main>
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <img src="{% static 'img/powered_by_strava.png' %}"/>
            </div>
            <div class="col l4 offset-l2 s12">
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://www.thomas-niebler.de">My Blog</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://twitter.com/ThomasNiebler">My Twitter</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/thomasniebler/">My GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% comment %}
            <div class="footer-copyright">
                <div class="container">
                    <span class="right">© 2017 Thomas Niebler</span>
                </div>
            </div>
{% endcomment %}
</footer>
</body>
</html>