{% extends 'base.xhtml' %}
{% load static %}

{% block content %}
    {% if request.user.is_authenticated %}
        <h1>Welcome, {{ request.user.firstname }}</h1>

        Here you get an overview of all club challenges:

        <ul class="collection with-header">
        {% for club, challenges in clubs %}
            <li class="collection-header avatar"><h4><img src="{{ club.profile_medium }}" class="circle"/><span
                    class="title"> {{ club.name }}</span></h4></li>
            <li class="collection-item">
                {% if challenges %}
                    <table class="highlight">
                        {% for challenge, progress, participates in challenges %}
                            <tr>
                                <td><span class="material-icons">location_on</span> {{ challenge.goal_distance }} km
                                </td>
                                <td><span
                                        class="material-icons">schedule</span> {{ challenge.start_date }} {{ challenge.end_date }}
                                </td>
                                <td>{% if participates %}<span class="material-icons">equalizer</span> {{ progress }}%
                                    <div class="progress">
                                        <div class="determinate" style="width: {{ progress }}%"></div>
                                    </div>
                                {% else %}
                                    <a href="{% url 'challenge_join' challenge.id %}">Join</a>
                                {% endif %}
                                </td>
                                <td><a href="{% url 'challenge_page' challenge.id %}"><span class="material-icons">info_outline</span></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    No challenges for this club.
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <h1>Please log in.</h1>

        <div style="valign: center">
        <a href="{% url 'login' %}"><img src="{% static 'img/connect_with_strava.png' %}"/></a>
        </div>
    {% endif %}
{% endblock %}
